.exportWin {


    padding: 5px;
}


.exportContainer {


    margin-right: auto;
    margin-left: auto;
    color: black;

}

.exportSelected, .exportUnselected {
    background-color: white;
    width: 250px;
    padding: 3px;
    text-align: center;
    padding-top: 8px;
}

.singleExportItem  {

}

.exportSelected {
    margin-left: 0px;
    margin-top: 0px;
}

.exportUnselected {
    position: absolute;
    left: 275px;
    top: 0px;
}


ul.export {
    list-style-type: none;
    margin-left: -30px;
    margin-right: 20px;
}

.exportWin .modal-content
{
   min-height: 500px;
    overflow: auto;
}

img.loading {
    margin-left: 50px;
}

li.export {
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    padding: 10px;
}

 li.export:hover {
    border: 1px solid #23282d;
}

.close,  .add {
    float: right;
    cursor: pointer;
}

 .btn-export {
    color:#ffffff;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 20px;
}
.exportToPdf {
    /* position: absolute; */
    /* width: 200px; */
    height: 50px;
    /* float: left; */
}

.youtubeWin .modal-content {
    padding: 5px;
}