@page "/{truck}"
@using BL
@inject BL.Interfaces.IFoodTruck foodTruckLogic
@inject BL.Geocode geoCodeLogic
@inject NavigationManager navigationManager

@code {
    @functions {
        [Parameter]
        public string Truck { get; set; }
    }
}

<h1>@Truck</h1>

@*<div class="popupAddress">
        <div class="easyBox full">
            <p>Bevor es losgehen kann brauchen wir noch Deine Lieferadresse</p>
            <p><strong>Wir verwenden Deine Daten ausschließlich um DIr das Essen liefern zu können und speichern nur das was dafür unbedingt notwendig ist.</strong></p>
            <div class="row nomargin">
                <div class="col-md-5">
                    <h4 class="hdr7">Deine Adresse</h4>
                    <p>Damit Dein Essen Dich auch findet</p>
                    <div class="form-group">
                        <label>Dein Name</label>
                        <input type="text" class="form-control" name="name" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label>Straße + Hausnummer</label>
                        <input type="text" class="form-control" name="street" placeholder="ABC-Straße 3">
                    </div>
                    <div class="form-group">
                        <label>PLZ + Ort</label>
                        <input type="text" class="form-control" name="city" placeholder="20459 Hamburg">
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <h4 class="hdr7">Kontakt</h4>
                    <div class="form-group">
                        <label>E-Mail</label>
                        <p>An diese Adresse wird Deine Bestellbestätigung geschickt</p>
                        <input type="email" class="form-control" name="mail" placeholder="john@doe.de">
                    </div>
                    <div class="form-group">
                        <label>Telefon</label>
                        <p>Hierüber kann Dich der Foodtrucker Dich erreichen. Wenn Du das nicht möchtest las das Feld leer</p>
                        <input type="tel" class="form-control" name="phone" placeholder="040 12345">
                    </div>
                    <div class="form-group">
                        <label>Datenverarbeitung</label>
                        <input type="checkbox" class="form-control" name="allowdata">Ich bin damit einverstanden, dass meine Daten gespeichert, verarbeitet und an den Foodtrucker weitergegeben werden.<br />
                    </div>
                </div>
                <input class="btn btn-default" type="submit" value="Submit">
            </div>

        </div>
    </div>*@
