@inherits LayoutComponentBase

<NavMenu />

<div class="bg-2 section" id="events">

    <div class="inner maincontent" data-topspace="50"
         data-image="./Content/assets/flavours/ribsndogs/images/content/background-3.jpg">
        <div class="container" id="mainContent">@Body</div>
    </div>
</div>


<footer>
    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img src="assets/flavours/ribsndogs/images/content/logo.png" alt=" ">
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>

    <a href="#" id="toTop"></a>
</footer>


