<nav class="navbar navbar-default" role="navigation">
    <div class="inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn btn-primary" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="text-center">
                    <p class="address">
                        Bleifood.de - Social Distancing in Lecker
                    </p>
                </div>


                <img src="assets/flavours/ribsndogs/images/content/logo-small.png" alt=" ">
                <h1>Toller Laden</h1>


            </div>


        </div>


        <div class="btm"></div>
    </div>
</nav>

@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">BlazorFood</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>*@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
