@page "/"
@namespace Bleifood.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bleifood - Social Distancing kann auch lecker sein</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        <link href="css/site.css" rel="stylesheet" />*@


    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" type="image/x-icon"
          href="assets/flavours/ribsndogs/images/favicon/favicon.ico">

    <link rel="apple-touch-icon" sizes="57x57"
          href="assets/flavours/ribsndogs/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
          href="assets/flavours/ribsndogs/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="assets/flavours/ribsndogs/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="assets/flavours/ribsndogs/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="assets/flavours/ribsndogs/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="assets/flavours/ribsndogs/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="assets/flavours/ribsndogs/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="assets/flavours/ribsndogs/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="assets/flavours/ribsndogs/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="assets/flavours/ribsndogs/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="assets/flavours/ribsndogs/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="assets/flavours/ribsndogs/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="assets/flavours/ribsndogs/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/flavours/ribsndogs/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="~/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/flavours/ribsndogs/css/ribsndogs.css">
    @*<link rel="stylesheet" type="text/css" href="public/css/foodtrucks.css">*@

    @*<script src="assets/js/jquery.min.js"></script>*@

    <script language="JavaScript">
        function Login(user, pass) {
            var xhr = new XMLHttpRequest();
            var errorUrl = window.location.origin + "/manage/login?error=";
            var successUrl = window.location.origin + "/manage/edit/mine";
            var loginUrl = window.location.origin + "/api/login";
            xhr.open("POST", loginUrl, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        window.location = successUrl;
                    } else {
                        window.location = errorUrl + xhr.status;
                    }
                }
            };
            var data = JSON.stringify({ "Mail": user, "Password":pass });
            xhr.send(data);
        }
    </script>


</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
