@page  "/manage/login"
<h3>Login</h3>
@inject Identity identity
@inject NavigationManager nav
@code {
    
}


<AuthorizeView>
    <h1>Du bist bereits eingeloggt.</h1>
    <a href="/manager/edit/mine">Klicke hier um Dein Angebot zu bearbeiten</a>
</AuthorizeView>



@code {
    protected override void OnInitialized()
    {
        identity.Login();
    }
}
