@page "/admin/login"
@inject NavigationManager NaviationManager
@inject IUserApi UserApi
@inject Blazored.LocalStorage.ILocalStorageService LocalStorageService
<h3>Anmelden</h3>

@code {


}
<EditForm Model="@_loginUser" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="easyBox">
        <div class="simpleForm">
            <p>
                Um Deinen Foodtruck anzumelden gib hier bitte Deine E-Mail-Adresse und ein Passwort ein.<br />
                <strong>Wichtig:</strong> Bisher sind nur die elementarsten Funktionen vorhanden. So fehlt z.B. auch noch eine Möglichkeit das Passwort zurückzusetzen. <br />
                <strong>VERGISS DEIN PASSWORT ALSO NICHT</strong>
            </p>
            <p>
                Im Anschluss wirst Du eine E-Mail erhalten um deinen Zugriff zu aktivieren. Das ist Notwendig um diese Seite vor Spammern zu schützen.
            </p>



            <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" name="email" @bind-value="_loginUser.Mail" placeholder="E-Mail Adresse hier eingeben">
                <ValidationMessage For="() => _loginUser.Mail" />
            </div>
            <div class="form-group">
                <label>Passwort</label>
                <input type="password" class="form-control" name="pass1" @bind-value="_loginUser.Password" placeholder="Dein gewünschtes Passwort">
                <ValidationMessage For="() => _loginUser.Password" />
            </div>

            <input class="btn btn-default" type="submit" value="Anmelden" />
            <div><ValidationSummary></ValidationSummary></div>
        </div>

    </div>
</EditForm>
@code {
    private Models.LoginUser _loginUser = new Models.LoginUser();
    private EditContext _editContext;

    private void HandleValidSubmit()
    {
        if (UserApi.Login(LocalStorageService,  _loginUser.Mail, _loginUser.Password, out string error, out Guid? guid))
        {
            NaviationManager.NavigateTo($"/manage/{guid}");
        }
        Console.WriteLine("Anmeldung erfolgt");

    }
}
