@page "/admin/manage/{truckId}"
@inject NavigationManager NaviationManager
@inject IUserApi UserApi;
<h3>Anmelden</h3>


@{
    @functions {
        [Parameter]
        public Guid? TruckId { get; set; }

    }
}

