@page "/admin/registersent"
<h3>Registrierung erfolgt</h3>
@inject NavigationManager NaviationManager

<div class="easyBox">
    <div class="simpleForm">
        <p>
            Deine Registrierung wurde abgeschickt. Bitte prüfe Dein E-Mail-Postfach.<br />
        </p>
    </div>
</div>
