@inherits LayoutComponentBase
@inject AppState appstate

@code { 

    protected override void OnInitialized()
    {
        appstate.IsInEditMode = true;
    }
}

<div class="sidebar">
    <NavMenu />
</div>
<div class="bg-2 section">

    <div class="inner" data-topspace="80" data-bottomspace="100" style="background-image: none; padding-top: 80px; padding-bottom: 100px;">
        <div class="container" id="mainContent">@Body</div>
    </div>
</div>


<footer>
    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img src="assets/flavours/ribsndogs/images/content/logo.png" alt=" ">
            </div>
        </div>
    </div>

    <a href="#" id="toTop"></a>
</footer>


