@inject Identity identity


<nav class="navbar navbar-default" role="navigation">
    <div class="inner">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn btn-primary" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="text-center">
                    <p class="address">Bleifood.de - Social Distancing in lecker                    </p>
                </div>

                <a class="small-brand" href="/" data-width="252" data-top="58" style="position: absolute; left: 0; margin-left: -126px; top: 58px;"><img src="./assets/flavours/ribsndogs/images/content/logo-small.png" alt=" "></a>

                <a href="tel:66-87-65-43-21" class="phoneIcon" style="display:none">+66 87 65 43 21</a>
                <a href="http://goo.gl/maps/IUzKJ" class="locationIcon" target="_blank" style="display:none;">http://goo.gl/maps/IUzKJ</a>
                @*<ul class="smallSocials">
                        <li class="fb"><a href="#"><img src="./assets/images/smallsocial-fb.png" alt="Facebook"></a></li>
                        <li class="tw"><a href="#"><img src="./assets/images/smallsocial-tw.png" alt="Twitter"></a></li>
                        <li class="gg"><a href="#"><img src="./assets/images/smallsocial-gg.png" alt="Google+"></a></li>
                        <li class="rss"><a href="#"><img src="./assets/images/smallsocial-rss.png" alt="RSS"></a></li>
                    </ul>*@
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <AuthorizeView>
                <Authorized>
                    @if ( _myTruckId!=null)
                    {
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav text-center" data-type="margin-top" data-pos="140" style="margin-top: 30px;">
                                <li><a href="/manage/edit/mine">Meine Daten</a></li>
                                <li><a href="/manage/edit/mine/card">Speisen</a></li>
                                <li><a href="/manage/edit/mine/places">Orte</a></li>
                                <li><a href="/manage/edit/mine/slots">Zeitplan</a></li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle">Account</a>
                                    <ul class="dropdown-menu">

                                        <li></li>
                                        <li><a href="/manage/logout">Abmelden</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                   
                </Authorized>
                <NotAuthorized>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav text-center" data-type="margin-top" data-pos="140" style="margin-top: 30px;">
                            <li class="active"><a href="/">Heute</a></li>
                            <li><a href="/tomorrow">Morgen</a></li>
                            <li><a href="/week">Diese Woche</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle">Hilfe</a>
                                <ul class="dropdown-menu">
                                    <li><a href="">Über Bleifood</a></li>
                                    <li><a href="">Hilfe für Besteller</a></li>
                                    <li><a href="">Hilfe für Anbieter</a></li>
                                    <li><a href="">Datenschutz</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            <!-- /.navbar-collapse -->
        </div>
        <!-- / container -->

        <div class="btm"></div>
    </div>

</nav>

@code {
    private bool _isLoggedIn = false;
    private Guid? _myTruckId = null;

    protected async override Task OnInitializedAsync()
    {
        _isLoggedIn = await identity.IsLoggedIn();
        if (_isLoggedIn)
        {
            _myTruckId = await identity.GetMyTruckId();
        }
    }

    @code {

        //protected override void OnInitialized()
        //{
        //    appState.OnChange += StateHasChanged;
        //}

        //public void Dispose()
        //{
        //    appState.OnChange -= StateHasChanged;
        //}

    }

}

@*@code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }*@
