@page  "/manage/edit/mine/done"
<h3>Foodtruck erstellt</h3>
@inject Identity identity
@inject NavigationManager navigationManager


<AuthorizeView>
    <h1>Du hast Deine Daten erfolgreich eingetragen</h1>
    <a class="btn btn-default" @onclick="(()=>GotoEdit())">OK</a>
</AuthorizeView>

@code {

    protected override void OnInitialized()
    {
        StateHasChanged();
    }

    private void GotoEdit()
    {
        navigationManager.NavigateTo("/manage/edit/mine", true);
    }
}


@*TODO: Refresh Nav automatically*@



