@page  "/manage/edit/mine/done"
<h3>Foodtruck erstellt</h3>
@inject Identity identity

@code {

}

<AuthorizeView>
    <h1>Du hast Deine Daten erfolgreich eingetragen</h1>
    <p>Drücke jetzt <strong>F5</strong> um die Seite neu zu laden und weitere Daten einzugeben</p>
</AuthorizeView>


@*TODO: Refresh Nav automatically*@



