@using BL
@page  "/manage/edit/mine"
<h3>Meine Daten bearbeiten</h3>
@inject Identity identity
@inject BL.Interfaces.IFoodTruck foodTruckLogic
@inject AppState appState
@inject NavigationManager navigationManager

<AuthorizeView>
    <NotAuthorized>
        <h1>Du bist nicht eingeloggt.</h1><br />
        <a href="/manage/login">Klicke hier um Dich einzuloggen</a>
    </NotAuthorized>
    <Authorized>
        <EditForm OnValidSubmit="HandleValidSubmit" EditContext="_editContext" Context="auth">
            @*Model="@_foodTruck"*@
            <DataAnnotationsValidator />
            <div class="easyBox">
                <div class="simpleForm">
                    <p>
                        Hier kannst Du Dein Angebot bearbeiten. <strong>alle</strong> Felder sind Pflichtfelder<br />
                        Wenn Dir etwas unklar ist, schaue in der Hilfe nach
                    </p>
                    <div class="header"><br /><h4 class="hdr4">Grunddaten</h4></div>
                    <div class="form-group">
                        <label>Name</label>
                        <InputText class="form-control" name="name" @bind-Value="_foodTruck.Name" placeholder="Pauls phänomenale Pommes" />
                        <ValidationMessage For="() => _foodTruck.Name" />
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <InputText class="form-control" name="url" @bind-Value="_foodTruck.Url" placeholder="paulspommes" />
                        <ValidationMessage For="() => _foodTruck.Url" />
                        <p>Deine URL lautet dann: https://bleifood.de/@_foodTruck.Url</p>
                    </div>
                    <div class="form-group">
                        <label>Paypal-Me-Adresse</label>
                        <InputText @bind-Value="_foodTruck.PaypalMe" class="form-control" placeholder="http://paypal.me/paulspommes" />
                        <ValidationMessage For="() => _foodTruck.PaypalMe" />
                        <p>Noch keinen Paypal.me - Link? Dieser kann unter <a href="https://www.paypal.me" target="_blank">erstellt werden</a></p>
                    </div>
                    <div class="form-group">
                        <label>Bietest Du Selbstabholung an?</label>
                        <InputCheckbox @bind-Value="_foodTruck.TakeAway" class="form-control" />
                        <ValidationMessage For="() => _foodTruck.TakeAway" />
                    </div>
                    <div class="form-group">
                        <label>Freitext</label>
                        <p>Diese Informationen werden unter Deiner Karte angezeigt.<br />Hier kannst Du z.B. Allergene oder Zusatzstoffe angeben.</p>
                        <InputTextArea @bind-Value="_foodTruck.InfoText" class="form-control"></InputTextArea>
                        <ValidationMessage For="() => _foodTruck.InfoText" />
                    </div>
                    <div class="header"><br /><h4 class="hdr4">Adresse</h4><p>Wird dem Kunden angezeigt</p></div>
                    <div class="form-group">
                        <label>Name</label>
                        <InputText @bind-Value="_foodTruck.PostAddress.Name" class="form-control" placeholder="Paul Pfeiffer" />
                        <ValidationMessage For="() => _foodTruck.PostAddress.Name" />
                    </div>
                    <div class="form-group">
                        <label>Strasse</label>
                        <InputText @bind-Value="_foodTruck.PostAddress.Street" class="form-control" placeholder="Eisbärenweg 3" />
                        <ValidationMessage For="() => _foodTruck.PostAddress.Street" />
                    </div>
                    <div class="form-group">
                        <label>PLZ</label>
                        <InputText @bind-Value="_foodTruck.PostAddress.Zip" class="form-control" placeholder="22459" />
                        <ValidationMessage For="() => _foodTruck.PostAddress.Zip" />
                    </div>
                    <div class="form-group">
                        <label>Ort</label>
                        <InputText @bind-Value="_foodTruck.PostAddress.City" class="form-control" placeholder="Hamburg" />
                        <ValidationMessage For="() => _foodTruck.PostAddress.City" />
                    </div>
                    <div class="form-group">
                        <label>Telefon</label>
                        <p>Für telefonische Rückfragen</p>
                        <InputText @bind-Value="_foodTruck.PostAddress.Phone" class="form-control" placeholder="040 123456" />
                        <ValidationMessage For="() => _foodTruck.PostAddress.Phone" />
                    </div>
                    <div class="form-group">
                        <label>E-Mail</label>
                        <p>An diese Adresse werden die Bestellungen geschickt</p>
                        <InputText @bind-Value="_foodTruck.PostAddress.Mail" class="form-control" placeholder="kontakt@olestollepommes.de" />
                        <ValidationMessage For="() => _foodTruck.PostAddress.Mail" />
                    </div>
                    <div class="header"><br /><h4 class="hdr4">Lieferzeiten</h4></div>
                    <div class="form-group">
                        <label>Früheste Lieferzeit</label>
                        <input type="time" @bind-value="_foodTruck.StartDelivery.AsDateTime" class="form-control" placeholder="10:00">
                        <ValidationMessage For="() => _foodTruck.StartDelivery.AsDateTime" />
                    </div>
                    <div class="form-group">
                        <label>Späteste Lieferzeit</label>
                        <input type="time" @bind-value="_foodTruck.EndDelivery.AsDateTime" @onfocusout="@(q => { ResetValidation("EndDelivery.AsDateTime"); })" class="form-control" placeholder="22:00">
                        <ValidationMessage For="() => _foodTruck.EndDelivery.AsDateTime" />
                    </div>
                    <div class="form-group">
                        <label>Früheste Bestellzeit</label>
                        <input type="time" @bind-value="_foodTruck.StartOrder.AsDateTime" @onfocusout="@(q=> { ResetValidation("StartOrder.AsDateTime"); })" class="form-control" placeholder="05:00">
                        <ValidationMessage For="() => _foodTruck.StartOrder.AsDateTime" />
                    </div>
                    <div class="header"><br /><h4 class="hdr4">Kosten</h4></div>
                    <div class="form-group">
                        <label>Mindestbestellmenge (in €)</label>

                        <InputText class="form-control" name="price" @bind-Value="_foodTruck.MinimumOrderAmountAsText" placeholder="12,50" />
                        <ValidationMessage For="() => _foodTruck.MinimumOrderAmount" />
                    </div>
                    <div class="form-group">
                        <label>Lieferkosten (in €)</label>

                        <InputText class="form-control" name="price" @bind-Value="_foodTruck.ShippingCostAsText" placeholder="12,50" />
                        <ValidationMessage For="() => _foodTruck.ShippingCost" />
                    </div>
                    <div class="form-group">
                        <label>Kostenlose Lieferung</label>
                        <InputCheckbox class="form-control" @bind-Value="_foodTruck.OfferNoShipping" />Kostenlose Lieferung anbieten
                    </div>
                    @if (_foodTruck.OfferNoShipping)
                    {
                        <div class="form-group">
                            <label>Mindestbestellmenge für kostenlose Lieferung (in €)</label>
                            <InputText class="form-control" @bind-Value="_foodTruck.MinimumNoShippingAmountAsText" />
                            <ValidationMessage For="() => _foodTruck.MinimumNoShippingAmount" />
                        </div>
                    }
                    @if (_foodTruck.InDataBase)
                    {
                        <input class="btn btn-default" type="submit" value="Speichern" />
                    }
                    else
                    {
                        <input class="btn btn-default" type="submit" value="Erstellen" />
                    }

                </div>
                <div style="color:red"><ValidationSummary></ValidationSummary></div>
            </div>
        </EditForm>
    </Authorized>
</AuthorizeView>

@code {
    private Entities.FoodTruck _foodTruck;
    private Guid? _myTruckId;
    private EditContext _editContext;
    private string _creationError = null;

    protected override void OnInitialized()
    {
        appState.IsInEditMode = true;

    }

    protected void ResetValidation(string field)
    {
        _editContext = new EditContext(_foodTruck);
        ValidateStartDelivery();
        ValidateStartOrder();
    }

    protected async override Task OnInitializedAsync()
    {
        var loggedIn = await identity.IsLoggedIn();
        if (!loggedIn) return;
        _myTruckId = await identity.GetMyTruckId();
        if (_myTruckId == null)
        {
            var currentUser = await identity.GetCurrentUser();
            var now = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
            _foodTruck = new Entities.FoodTruck
            {
                Active = false,
                EndDelivery = new Entities.Time(20, 0),
                StartDelivery = new Entities.Time(10, 0),
                StartOrder = new Entities.Time(8, 0),
                TakeAway = false,
                PostAddress = new Entities.Address(),
                InDataBase = false,
                UserId = currentUser.Id
            };
        }
        else
        {
            _foodTruck = foodTruckLogic.GetTruck(_myTruckId.Value);
        }
        _editContext = new EditContext(_foodTruck);
    }

    private void ValidateStartDelivery()
    {

        if (_foodTruck.StartDelivery.CompareTo(_foodTruck.EndDelivery) >= 0)
        {
            var messageStore = new ValidationMessageStore(_editContext);
            messageStore.Add(_editContext.Field("EndDelivery"), "Die späteste Lieferzeit muss später sein als die früheste Lieferzeit");
            _editContext.NotifyValidationStateChanged();
            this.StateHasChanged();

        }
    }

    private void ValidateStartOrder()
    {
        var messageStore = new ValidationMessageStore(_editContext);
        if (_foodTruck.StartOrder.CompareTo(_foodTruck.StartDelivery) >= 0)
        {
            messageStore.Add(_editContext.Field("StartOrder"), "Die früheste Bestellzeit darf nicht später sein als die früheste Lieferzeit");
            _editContext.NotifyValidationStateChanged();
            this.StateHasChanged();
        }
    }

    private async void HandleValidSubmit()
    {
        ValidateStartDelivery();
        ValidateStartOrder();

        if (!_editContext.Validate()) return;
        if (!_foodTruck.InDataBase)
        {
            try
            {
                foodTruckLogic.CreateTruck(_foodTruck);
            }
            catch (DL.Exceptions.TruckAlreadyExistsException)
            {
                _creationError = "Ein Truck mit dieser Url existiert bereits";
            }
            catch (Exception)
            {
                _creationError = "Es ist ein unbekannter Fehler aufgetreten";
            }

            navigationManager.NavigateTo("/manage/edit/mine/done", true);
        }
        else
        {
            try
            {
                foodTruckLogic.UpdateTruck(_foodTruck);
            }
            catch (DL.Exceptions.TruckAlreadyExistsException)
            {
                _creationError = "Ein Truck mit dieser Url existiert bereits";
            }
            catch (Exception ex)
            {
                 _creationError = "Es ist ein unbekannter Fehler aufgetreten";
            }

        }
    }
}

